<?xml version="1.0" encoding="UTF-8" ?>
<peony>
	<datadir>${data_dir}</datadir>
	<logdir>${log_dir}</logdir>
	
	<world>
		<address>${ak_world_url}</address>
		<port>${ak_world_port}</port>
		<clientname>${ak_client_name}</clientname>
		<password>${ak_client_password}</password>
	</world>
	
	<memcached>
		<server>
			<ip>${ak_memcached_servers}</ip>
			<weights>${ak_memcached_weights}</weights>
		</server>
		<initConn>5</initConn>
		<minConn>5</minConn>
		<maxConn>250</maxConn>
	</memcached>

	<GameServer>ak.server.AkServer</GameServer>
	<GameCode>animalkingdom</GameCode>
	<GameId>2</GameId>
	<serverId>${ak_server_id}</serverId>

	<sns_server_url>${sns_url}</sns_server_url>
	<sns_server_port>${sns_port}</sns_server_port>

	<session_keep_time>600000</session_keep_time>
	<session_world_sync_time>10000</session_world_sync_time>
	<session_world_max_changed_num>100</session_world_max_changed_num>
	<store_data_try_times>5</store_data_try_times>
	<player_maxmailnum_day>1000</player_maxmailnum_day>
	<actor_cache_max_size>20000</actor_cache_max_size>
	<db_save_split_second>100</db_save_split_second>
	<ad_ipad_num>a14f38c90022f15</ad_ipad_num>
	<ad_iphone_num>a14f38ca45d18b1</ad_iphone_num>
	<friend_max_limit>200</friend_max_limit>
	<defaultInitDollar>200000</defaultInitDollar>
	<maxRewardDollar>10000</maxRewardDollar>
	<clientTimeTolerate>3600</clientTimeTolerate>
<!-- 	<clientVersion>1.0.84.87</clientVersion> -->
	<clientVersion>1.0.84.87</clientVersion>
	<serverVersion>2013-02-04 18:57:33</serverVersion>
	<defaultLanguage>2</defaultLanguage><!-- 1:汉语       2：英语 -->
	
<!-- 	<gm_server_ip>60.28.211.60</gm_server_ip> -->
	<gm_server_ip>10.6.34.124</gm_server_ip>
	<gm_server_port>7666</gm_server_port>
	
	
	<HTTP_ENCODE>false</HTTP_ENCODE>
	<ID_ENCODE>true</ID_ENCODE>
	
<!-- 	<compensate>74369@2300</compensate> -->
<sandboxversion> 1.0.133.133 </sandboxversion>
<!--<sandboxversion>-</sandboxversion>-->
	<tapjoy>0</tapjoy>
	<!-- ********************************以下为新版兔村添加配置****************************** -->
	<!-- 客户端邮件列表最大数量 -->
	<client_mail_list_maxsize>100</client_mail_list_maxsize>
	<!-- 每天发邮件获得爱心值最大次数 -->
	<love_mail_maxnum_everyday>30</love_mail_maxnum_everyday>
	<!-- 邮件每日每人一次 爱心值-->
	<love_mail_oneplayer_num_everyday>1</love_mail_oneplayer_num_everyday>
	<!-- 送礼每日每人一次 爱心值-->
	<love_send_gift_oneplayer_num_everyday>1</love_send_gift_oneplayer_num_everyday>
	<!-- 爱心值初始 -->
	<love_initial_value>0</love_initial_value>
	<!-- 爱心值上限 -->
	<love_max_value>9999999</love_max_value>
	<!-- 每人每天帮助好友次数限制 -->
	<help_friend_oneplayer_num_everyday>9999</help_friend_oneplayer_num_everyday>
	<!-- 每人每天送礼次数限制 -->
	<send_gift_oneplayer_num_everyday>1</send_gift_oneplayer_num_everyday>
	<!-- 送个多礼物的最大个数 -->
	<send_multi_gift_num>10</send_multi_gift_num>
	<!-- 玩家的最大体力值上限 -->
	<active_maxnum>80</active_maxnum>
	<!-- 每6分钟恢复1点，单位：秒 -->
	<active_unit>360</active_unit>
	<!-- 锁重试次数 -->
	<lock_retry_times>2000</lock_retry_times>
	<!-- 锁超时时间，单位：毫秒 -->
	<lock_expire>120000</lock_expire>
	<!-- 市场按物品ID查询条数 -->
	<market_query_count>20</market_query_count>
	<!-- 挂单超时时间，默认6小时，单位：秒 -->
	<market_expire_time>21600</market_expire_time>
	<!-- 系统回收时间，默认9小时，单位：秒 -->
	<market_recycle_time>32400</market_recycle_time>
	<!-- 贸易最大请求帮助数 -->
	<trade_max_request_help>3</trade_max_request_help>
	<!-- 帮助好友贸易消耗体力值 -->
	<trade_consume_power>10</trade_consume_power>
	<!-- 是否是压力测试模式-->
	<is_pressure_test>1</is_pressure_test>
	<!-- 是否需要world服务器验证登录-->
	<is_need_world_check_login>1</is_need_world_check_login>
	<!-- 初始化player的memcached是否需要通过world服务器-->
	<is_through_world_init_player_memcached>1</is_through_world_init_player_memcached>
	<!-- GM工具配置 -->
	<GM>
		<syscenter_url>${ak_syscenter_url}</syscenter_url>
		<syscenter_port>${ak_syscenter_port}</syscenter_port>
		<appkey>${ak_appkey}</appkey>
		<gid>${ak_gid}</gid>
		<cid>${ak_cid}</cid>
	</GM>
</peony>