<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>MRDServlet</servlet-name>
		<servlet-class>cyou.mrd.io.http.MRDServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>HeartServlet</servlet-name>
		<servlet-class>cyou.mrd.io.http.HeartServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>VersionServlet</servlet-name>
		<servlet-class>cyou.mrd.io.http.VersionServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MRDServlet</servlet-name>
		<url-pattern>/s</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HeartServlet</servlet-name>
		<url-pattern>/h</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>VersionServlet</servlet-name>
		<url-pattern>/v</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	
</web-app>
