<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<property name="connection.username">${ak_user}</property>
		<property name="connection.url">jdbc:mysql://${ak_dburl}/${ak_database}?useUnicode=true&amp;characterEncoding=UTF8</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.password">${ak_password}</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.acquireRetryAttempts">3</property>
		<property name="hibernate.c3p0.acquireRetryDelay">2000</property>
		<property name="hibernate.c3p0.breakAfterAcquireFailure">false</property>
		<property name="current_session_context_class">thread</property>
		<property name="show_sql">true</property>
		<property name="hibernate.generate_statistics">true</property>
		<property name="current_session_context_class">thread</property>

		
	</session-factory>

</hibernate-configuration>