<?xml version="1.0" encoding="UTF-8" ?>
<peony>
	<logdir>${log_dir}</logdir>
	<mapdir>${map_dir}</mapdir>

	<connections>
		<connection>
			<type>direct</type>
			<address>${ak_world_url}</address>
			<port>${ak_world_port}</port>
		</connection>
	</connections>

	<memcached>
		<server>
			<ip>127.0.0.1:11211</ip>
			<weights>1</weights>
		</server>
		<initConn>5</initConn>
		<minConn>5</minConn>
		<maxConn>250</maxConn>
	</memcached>

	
	

	<store_data_try_times>5</store_data_try_times>
	
	<clientTimeTolerate>3600</clientTimeTolerate>
	<thread_tick>${tick}</thread_tick>
	<server_id>${serverId}</server_id>
	
	<server_one_id>${serverOneId}</server_one_id>
	<server_one_url>${serverOneUrl}</server_one_url>
	<server_one_port>${serverOnePort}</server_one_port>
	
	<server_two_id>${serverTwoId}</server_two_id>
	<server_two_url>${serverTwoUrl}</server_two_url>
	<server_two_port>${serverTwoPort}</server_two_port>
	
	<world>
		<address>${world_url}</address>
		<port>${world_port}</port>
	</world>
</peony> 

